.App {
  text-align: center;
}

.card {
  border: 1px solid black;
  display: inline-block;
  margin: 5px;
  padding: 10px;
}

.hand {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
